    * {
        font-family: "Ubuntu", "Lato", "Red Hat Display", sans-serif;
        scroll-behavior: smooth;
    }

    body {
        height: 1110vh;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    /* Nav Bar */
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 10px 20px;
        background-color: gray;
        border-radius: 20px;
        align-items: center;
        box-shadow: 0 5px 15px rgb(128, 128, 128);
    }

    header nav ul li a,
    #mode {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        padding: 8px 12px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        background: none;
        border: none;
    }

    header nav ul li a:hover,
    #mode:hover {
        font-size: 1.3em;
        background-color: #555;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.453);
    }

    .dark {
        background-color: rgb(55, 54, 54);
        color: white;
    }

    #mode:active {
        transform: rotate(20deg) scale(1.1);
        transition: transform 0.2s ease;
    }

    @media (max-width:480px) {
        header {
            position: static;
            padding: 10px 0;
            justify-content: center;
            align-items: center;
        }

        header nav ul {
            flex-direction: column;
            gap: 10px;
            width: 300px;
            margin: 0 auto;
            border-radius: 100px;
        }
    }


    /* Floating Button */
    .first,
    .second,
    .third {
        position: fixed;
        display: flex;
        font-size: 2em;
        height: 50px;
        width: 50px;
        background-color: rgb(224, 219, 219);
        border-radius: 50%;
        bottom: 30px;
        right: 30px;
        justify-content: center;
        align-items: center;
    }

    .second,
    .third {
        opacity: 0;
        pointer-events: none;
        transform: translateY(0);
    }

    .first {
        transition: all .5s ease-in-out;
    }

    .second {
        transition: all .8s ease-in-out;
    }

    .third {
        transition: all .8s ease-in-out;
    }

    .fab.open .first {
        transform-origin: center;
        transform: rotate(45deg) scale(1.5);
    }

    .fab.open .second {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(-75px);
    }

    .fab.open .third {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(-135px);
    }

    .fab button:hover {
        box-shadow: 0 6px 10px gray;
        transform: scale(1.1);
    }