    * {
        font-family: "Ubuntu", "Lato", "Red Hat Display", sans-serif;
        scroll-behavior: smooth;
    }

    body {
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    ::selection {
        background-color: gray;
        color: aqua;
    }

    /* Nav Bar */
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 10px 20px;
        background-color: gray;
        border-radius: 20px;
        align-items: center;
        box-shadow: 0 5px 15px rgb(128, 128, 128);
        transition: transform 0.5s ease-in-out;
    }

    header nav ul li a,
    #mode {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        padding: 8px 12px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        background: none;
        border: none;
    }

    header nav ul li a:hover,
    #mode:hover {
        font-size: 1.3em;
        background-color: #555;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.453);
        text-shadow: 0px 0px 6px white;
    }

    #mode:hover {
        font-size: 1.2em;
    }

    header ul:hover {
        transform: scale(1.1);
    }

    .dark {
        background-color: rgb(55, 54, 54);
        color: white;
    }

    #mode:active {
        transform: rotate(20deg) scale(1.1);
        transition: transform 0.2s ease;
    }

    @media (max-width:480px) {
        header {
            position: static;
            padding: 10px 0;
            justify-content: center;
            align-items: center;
        }

        header nav ul {
            flex-direction: column;
            gap: 10px;
            width: 300px;
            margin: 0 auto;
            border-radius: 100px;
        }

        #card {
            width: 365px !important;
            height: 640px !important;
        }
    }

    /* Main */
    p {
        color: rgb(76, 73, 73);
        text-align: justify;
    }

    body.dark p {
        color: rgb(225, 217, 217);
    }

    h1,
    h2 {
        font-family: "Red Hat Display", "Lato", sans-serif;
        text-shadow: 0 5px 5px gray;
        margin: 20px;
    }

    #cover {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #card {
        overflow: hidden;
        width: 500px;
        height: 700px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 20px 5px gray;
        transition: all 0.3s ease-in-out;
    }

    #card:hover {
        transform: scale(1.02);
    }

    #card_a {
        text-decoration: none;
        color: gray;
        display: block;
        margin: 30px;
        font-size: 1.1em;
        text-shadow: 0 5px 10px gray;
    }

    #thm {
        display: flex;
        justify-content: center;
    }

    #thm-banner {
        border: none;
        border-radius: 20px;
        transition: transform 0.5s ease-in-out;
    }

    #thm-banner:hover {
        transform: scale(1.1);
    }

    /* Floating Button */
    .fab button {
        position: fixed;
        display: flex;
        font-size: 2em;
        height: 50px;
        width: 50px;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 50%;
        box-shadow: 0 5px 15px 0px rgb(128, 128, 128);
        will-change: transform;
        bottom: 30px;
        right: 30px;
        justify-content: center;
        align-items: center;
    }

    #msg {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        bottom: 110px;
        right: 100px;
        z-index: 2000;
        background-color: gray;
        color: white;
        box-shadow: 0 5px 15px 0px rgb(128, 128, 128);
        text-shadow: 0px 0px 6px white;
        font-size: 1.1em;
        padding: 10px 20px;
        border-radius: 20px;
        transition: opacity 0.5s ease-in-out;
    }

    #msg.show {
        opacity: 1;
    }

    .second,
    .third {
        opacity: 0;
        pointer-events: none;
        transform: translateY(0);
    }

    .second,
    .third {
        transition: all .8s ease;
    }

    .fab.open .first {
        transform-origin: center;
        transform: rotate(45deg) scale(1.3);
    }

    .fab.open .second {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(-75px);
    }

    .fab.open .third {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(-135px);
    }

    .fab:not(.open) .first:hover {
        animation: bouncefirst 0.5s infinite alternate;
    }

    @keyframes bouncefirst {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.3);
            box-shadow: 0 6px 10px gray;
            text-shadow: 0px 0px 6px white;
        }
    }

    .fab.open .first:hover {
        animation: bounceopen 0.5s infinite alternate;
    }

    @keyframes bounceopen {
        from {
            transform: rotate(45deg);
        }

        to {
            transform: rotate(45deg) scale(1.3);
            box-shadow: 0 6px 10px gray;
            text-shadow: 0px 0px 6px white;
        }
    }

    .fab .second:hover {
        animation: bouncesecond 0.5s infinite alternate;
    }

    @keyframes bouncesecond {
        from {
            transform: translateY(-75px);
        }

        to {
            transform: translateY(-75px) scale(1.1);
            box-shadow: 0 6px 10px gray;
            text-shadow: 0px 0px 6px white;
        }
    }

    .fab .third:hover {
        animation: bouncethird 0.5s infinite alternate;
    }

    @keyframes bouncethird {
        from {
            transform: translateY(-135px);
        }

        to {
            transform: translateY(-140px);
            box-shadow: 0 6px 10px gray;
            text-shadow: 0px 0px 6px white;
        }
    }